.git
.github
.idea
build
cron
tests
var
storage
node_modules
public/assets/images/readme
.DS_Store
.env
.env.dev
.env.github-actions
.env.local
.env.test
.gitignore
.php-cs-fixer.cache
.php-cs-fixer.dist.php
.phpunit.result.cache
docker-compose.yml
gear-maintenance.example.yml
Makefile
min-coverage-rules.php
phpstan.dist.neon
phpunit.xml.dist
package-lock.json
package.json
README.md
symfony.lock
tailwind.config.js
logo.xcf