services:
    php-cli:
        build: docker/php-cli
        container_name: 'strava-statistics-php-cli'
        volumes:
            - './:/var/www/'
        working_dir: /var/www
        environment:
            - PHP_CS_FIXER_IGNORE_ENV=true
            - IMPORT_AND_BUILD_SCHEDULE=* * * * *
        profiles:
            - on-demand
        networks:
            - app_network
    app:
        build:
            context: ./
            dockerfile: docker/app/Dockerfile
        container_name: 'strava-statistics-app'
        volumes:
            - ./build:/var/www/build
            - ./storage/database:/var/www/storage/database
            - ./storage/files:/var/www/storage/files
        env_file: ".env.local"
        ports:
            - '8081:8080'
        networks:
            - app_network
networks:
    app_network: {}
