<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         colors="true"
         bootstrap="tests/bootstrap.php"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         failOnRisky="true"
         failOnWarning="true"
         failOnNotice="true"
         failOnSkipped="true"
         cacheDirectory=".phpunit.cache"
>
    <php>
        <ini name="display_errors" value="1" />
        <ini name="error_reporting" value="-1" />
        <server name="APP_ENV" value="test" force="true" />
        <server name="SHELL_VERBOSITY" value="-1" />
        <server name="SYMFONY_PHPUNIT_REMOVE" value="" />
        <server name="SYMFONY_PHPUNIT_VERSION" value="9.5" />
    </php>
    <extensions>
        <bootstrap class="RobinIngelbrecht\PHPUnitPrettyPrint\PhpUnitExtension">
            <parameter name="displayProfiling" value="false"/>
        </bootstrap>
        <bootstrap class="RobinIngelbrecht\PHPUnitCoverageTools\PhpUnitExtension">
            <parameter name="cleanUpCloverXml" value="1"/>
        </bootstrap>
    </extensions>
    <testsuites>
        <testsuite name="Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>src</directory>
        </include>
        <exclude>
            <file>src/Kernel.php</file>
            <file>src/Console/ExtractTranslationsConsoleCommand.php</file>
            <file>src/Infrastructure/DependencyInjection/AppExpressionLanguageProvider.php</file>
            <file>src/Infrastructure/Logging/LoggableConsoleOutput.php</file>
            <file>src/Infrastructure/Time/Clock/SystemClock.php</file>
            <file>src/Infrastructure/Time/ResourceUsage/SystemResourceUsage.php</file>
            <file>src/Infrastructure/Time/SystemSleep.php</file>
            <directory>src/Infrastructure/Doctrine/Migrations</directory>
        </exclude>
    </source>
</phpunit>
