{% extends "html/base.html.twig" %}

{% block breadcrumbs %}
    <li>
        <div class="flex items-center">
            <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20"
                 xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                      d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                      clip-rule="evenodd"></path>
            </svg>
            <a href="#" data-router-navigate="{{ relativeUrl('rewind') }}"
               class="ml-1 text-gray-700 hover:text-primary-600 md:ml-2">{{ "Rewind"|trans }}</a>
        </div>
    </li>
{% endblock %}

{% block content %}
    {% autoescape false %}
        <div class="grid gap-4 p-4 bg-white border border-gray-200 rounded-lg shadow-xs">
            <div class="flex items-center p-2 text-sm text-blue-800 border border-blue-300 rounded-lg bg-blue-50"
                 role="alert">
                <svg class="shrink-0 inline w-4 h-4 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                     fill="currentColor" viewBox="0 0 20 20">
                    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                </svg>
                <span class="sr-only">Info</span>
                <div>
                    {{ "You have not recorded any activities in the previous years."|trans }}
                    {{ "Your Strava {year} rewind will be available on the 24th of December."|trans({'{year}': now.format('Y')}) }}
                </div>
            </div>
        </div>
    {% endautoescape %}
{% endblock %}